header {
    padding: 30px 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

header a {
    color: #7F9EF4;
    text-decoration: none;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 60px;
    cursor: pointer;
}
/*
mobile menu
*/

.mobile-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 30%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #7F9EF4;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

header .main-menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 10px
}

header .menu a {
    text-transform: uppercase;
    padding: 5px;
}

header .menu a:hover {
    /* opacity: .6; */
    text-shadow: 2px 2px 5px #7F9EF4
}

header .header-buttons {
    display: inline-block;
    float: right;
}

header .header-buttons .blue-btn {
    background: #7F9EF4;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

header .header-buttons .blue-btn:hover {
    opacity: .6;
}

header .header-buttons .blue-btn .fas {
    margin-left: 15px;
}

header .header-buttons .orange-btn {
    background: #33f4e7;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

header .header-buttons .orange-btn:hover {
    opacity: .6;
}

@media only screen and (max-width: 1215px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (max-width: 768px) {}